
#smaller-contact-info {
    background-color: rgb(29, 32, 39);
    border-bottom: 2px solid gray;
    padding: .75rem 4rem;
}

#smaller-contact-info>div {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}



#smaller-mail-phone {
    display: flex;
    gap: 1rem;
}

#smaller-mail-phone>P {
    color: var(--white);
    display: flex;
    align-items: center;
    gap: .5rem;
    text-align: center;
}

#smaller-mail-phone>p>i {
    color: var(--red);
    font-size: 1.50rem;
}



#smaller-social-icons {
    display: flex;
    gap: 1rem;

}

#smaller-social-icons a {
    font-size: 1.25rem;
}



@media screen and (max-width:768px) {
    #smaller-contact-info>div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
}
@media screen and (max-width:640px) {
    #smaller-mail-phone {
        display: flex;
        gap: 1rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
}
@media screen and (max-width:400px) {
    #smaller-mail-phone{
        display: none;
    }
    
}









































#smaller-main-nav {
    background-color: var(--white);
    padding: 1rem 4rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}



#smaller-logo {}

#smaller-logo img {
    width: 8rem;
}






#smaller-main-nav-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    gap: 1.5rem;

}

#smaller-main-nav-items>a {
    font-weight: 500;
    display: flex;
    align-items: center;
    color: black;
}

#smaller-main-nav-items>a>i {
    font-size: 1.5rem;
}


.menu-btn{
    display: none;
}


#smaller-consultant-btn {
    padding: .5rem 1.5rem;
    background-color: #1D2027;

    border-radius: 5px;

    position: relative;
    overflow: hidden;
    cursor: pointer;
}

#smaller-consultant-btn::after {

    content: '';
    height: 200px;
    width: 200px;
    position: absolute;
    background-color: var(--red);
    rotate: 45deg;
    left: 20%;
    bottom: 0;
    transition: .5s ease;
}

#smaller-consultant-btn::before {

    content: '';
    height: 200px;
    width: 200px;
    position: absolute;
    background-color: var(--red);
    rotate: 45deg;
    right: 20%;
    top: 0;
    transition: .5s ease;
}

#smaller-consultant-btn>p {
    position: relative;
    z-index: 1;
    color: white;
    text-wrap: nowrap;
    font-weight: 600;
    transition: .5s ease;
}



#smaller-consultant-btn:hover::after {
    left: 100%;
}

#smaller-consultant-btn:hover::before {
    right: 100%;
}



@media screen and (max-width:1100px) {

    #smaller-contact-info {
        padding: .75rem 2rem;
    }
    #smaller-main-nav {
        padding: 1rem 2rem;
    }

}





@media screen and (max-width:1004px) {
    #smaller-main-nav-items {
        display: none;
    }

    #smaller-menu-button{
        display: flex;
        align-items: center;
        gap: 1.5rem;

    }
    .menu-btn{
        display: block;
        font-size: 1.75rem;
        font-weight: 800;
        color: var(--red);
    }
}




@media screen and (max-width: 640px) {
    #smaller-consultant-btn{
        display: none;
    }
}











