

#slide-menu{
    background-color: red;
    height: 100vh;
    width: 280px;

    position: fixed;
    right: 0;
    top: 0;
    z-index: 5555;

    padding: 2rem;


    transition: .5s ease;

}

.menu-non-active{
    translate: 100%;
}


#slide-close{
    width: 100%;
    display: block;
    font-size: 1.5rem;
    text-align: end;
    margin-bottom: 3rem;
    color: var(--white);
}
#slide-main-nav-items{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
#slide-main-nav-items>a{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 1.25rem;
    color: var(--white);
}

#slide-main-nav-items>a>i{
    font-size: 1.375rem;
}
